{% extends 'base.html.twig' %}

{% block title %}Voir les archives
{% endblock %}

{% block body %}

	<h1 class="text-center my-3 text-warning">Les Archives</h1>


	<div class="row">
		<div class="col-6 mx-auto">
			{% include 'include/_flashes.html.twig' %}
		</div>
	</div>


	<div class="row my-5 mx-auto">
		<div class="col-4">
			<a class="btn btn-sm btn-outline-dark" href="{{ path('show_dashboard') }}">
				<i class="fa-solid fa-arrow-left"></i>
				Retour au tableau de bord</a>
		</div>
	</div>


	<div class="row">

		<div class="col-10 mx-auto my-4">

			<h2 class="text-center">Tous les membres</h2>

			<table class="table">
				<thead class="table-dark">
					<tr>
						<th class="text-center">#</th>
						<th class="text-center">Rôle</th>
						<th class="text-center">Prénom</th>
						<th class="text-center">Nom</th>
						<th class="text-center">Email</th>
						<th class="text-center">Civilité</th>
						<th class="text-center">Options</th>
					</tr>
				</thead>
				<tbody>

					{% for membre in membres %}

						<tr>
							<td class="text-center">{{ membre.id }}</td>
							<td class="text-center">{{ membre.roles | first }}</td>
							<td class="text-center">{{ membre.prenom }}</td>
							<td class="text-center">{{ membre.nom }}</td>
							<td class="text-center">{{ membre.email }}</td>
							<td class="text-center">{{ membre.civilite}}</td>
							<td class="text-center">

								<a href="{{ path('restore_membre', {'id': membre.id}) }}" class="text-info" title="Restaurer le membre">
									<i class="fa-solid fa-trash-arrow-up"></i>
								</a>

								<a href="{{ path('hard_delete_membre', {'id': membre.id}) }}" class="text-danger" title="Supprimer le membre" onclick="return confirm('Voulez-vous supprimer définitivement ce membre ?')">
									<i class="fa fa-trash"></i>
								</a>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="bg-warning text-center align-middle">Aucun article archivé</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>
		</div>

	{% endblock %}
