{% extends "base.html.twig" %}

{% block title %}Avis
{% endblock %}

{% block body %}
	
	<h1 class="text-center my-3">Avis</h1>
	

	<div class="row">
		<div class=" col-6 mx-auto my-3">
			{{ form_start(form) }}

			<div class="row">

				<div class="col-6">

					{{ form_row(form.nom) }}

				</div>

				<div class="col-6">

					{{ form_row(form.prenom) }}

				</div>

			</div>

			{{ form_end(form) }}

		</div>

        <div class="col-6 mx-auto">

			<h3 class="mb-5">Vos avis :</h3>

			{% for opinion in opinions | reverse %}

				<div class="alert alert-dark mb-3" role="alert">
					<h4 class="alert-heading">{{avis.fullname}}
						<span class="h6">posté
							{{ avis.createdAt | ago(locale='fr') }}</span>
					</h4>

					<p>{{ avis.content }}</p>

					<hr>

					<p class="mb-0">Partager :
						<a href="">
							<i class="fa-brands fa-instagram"></i>
						</a>
						<a href="">
							<i class="fa-brands fa-twitter"></i>
						</a>
						<a href="">
							<i class="fa-brands fa-facebook"></i>
						</a>

						



					</p>



				</div>


			{% else %}

				<div class="alert alert-dark mb-3" role="alert">
					<p>Aucun commentaire pour cet article</p>
				</div>
			{% endfor %}

		</div>

	</div>

{% endblock %}